.weather-forecast {
    display: flex;
    width: 70%;
    align-items: center;
    text-align: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(250, 249, 248, 0.15);
    margin: 20px auto;
    padding: 10px 20px;
}
.five-days-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 5px auto;
    justify-content: center;
    padding: 5px 5px;
}
.five-days-div p {
    margin:0px;
}
.next-hour-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
}
.next-day-div {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.2);
}
#div1 p,
.date-para {
    cursor: pointer;
}
.next-hour-weather ,
.next-day-div {
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
}
